{% extends 'base.html' %}

{% block content %}      
  <!-- Meal Details Start -->
    <div class="section">
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8" data-aos="fade-up">

            <h2 class="mb-5 text-center">Menu List with Price</h2>
            <img src="{{ meal_detail.image.url }}" alt="{{ meal_detail.name }}">
            <h2>{{ meal_detail }}</h2>
            <p>{{ meal_detail.description }}</p>

            </div>
        </div>
        </div>
    </div>    
  <!-- Meal Details End -->
{% endblock %}