{% extends 'base.html' %}

{% block content %}      
  <!-- Meal Details Start -->
    <div class="section">
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8" data-aos="fade-up">

            <img src="{{ meal_detail.image.url }}" alt="{{ meal_detail.name }}" style="width: 75%; margin-left: auto; margin-right: auto; display: block;">
            <h2 class="my-4">{{ meal_detail }}</h2>
            <p>{{ meal_detail.description }}</p>

            <p>For: {{meal_detail.people}} People</p>
            <p>Preparation Time: {{meal_detail.preparation_time}} Minutes</p>
            <p>Price: ${{meal_detail.price}}</p>

            </div>
        </div>
        </div>
    </div>    
  <!-- Meal Details End -->
{% endblock %}